<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - 医护E家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon" 　 />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery.toast.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/EWIN.js"></script>
    <script src="~/Scripts/jquery.toast.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>
        <script>
            $(function () {
            if (window.top != window) {
                document.body.innerHTML = "";
            window.top.location = location.href;
            }
            $('.seli>a').bind("click",
                function () {
                $('.seli>a').removeClass("seliactive");
                    $(this).addClass("seliactive");
                });
        });
    </script>
</head>
<body>
    <div class="frm_header">
        <a href="/" class="logo">
            <h1>@ViewBag.Title</h1>
        </a>
        <nav>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/Account/SignOut" data-confirm="确定退出？" data-method="delete" rel="nofollow"><i class="glyphicon glyphicon-log-out"><B>退出后台</B></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="frm_body">
        <nav class="frm_left">
            <ul class="menu">
                <li class="sel">
                    <span>统计报表</span>
                </li>
                <li class="seli">
                    @Ajax.ActionLink("考试统计", "Index", "Statistic", new AjaxOptions { UpdateTargetId = "main" })
                </li>
                <li class="sel">
                    <span>用户管理</span>
                </li>
                <li class="seli">
                    @Ajax.ActionLink("护士管理", "Index", "User", new {}, new AjaxOptions {UpdateTargetId = "main"})
                </li>
                <li class="seli">
                    @Ajax.ActionLink("属性管理", "AttributeConfig", "Home", new AjaxOptions {UpdateTargetId = "main"})
                </li>
                <li class="sel">
                    <span>教学管理</span>
                </li>
                <li class="seli">
                    @Ajax.ActionLink("培训管理", "Train", "Teaching", new AjaxOptions {UpdateTargetId = "main"})
                </li>
                <li class="seli">
                    @Ajax.ActionLink("题库管理", "Subject", "Teaching", new AjaxOptions {UpdateTargetId = "main"})
                </li>
                <li class="seli">
                    @Ajax.ActionLink("试卷管理", "Paper", "Teaching", new AjaxOptions { UpdateTargetId = "main" })
                </li>
                <li class="seli">
                    @Ajax.ActionLink("考试管理", "Exam", "Teaching", new AjaxOptions {UpdateTargetId = "main"})
                </li>
                <li class="seli">
                    @Ajax.ActionLink("操作评分表", "OperationT", "Teaching", new AjaxOptions { UpdateTargetId = "main" })
                </li>
                <li class="seli">
                    @Ajax.ActionLink("操作考核管理", "Operation", "Teaching", new AjaxOptions { UpdateTargetId = "main" })
                </li>
                <li class="sel">
                    <span>系统管理</span>
                </li>
                <li class="seli">
                    @Ajax.ActionLink("管理员管理", "Account", "Home", new AjaxOptions {UpdateTargetId = "main"})
                </li>
                <li class="seli">
                    @Ajax.ActionLink("组织管理", "Organization", "Home", new AjaxOptions {UpdateTargetId = "main"})
                </li>
            </ul>
        </nav>
        <div class="frm_main" id="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
